<div id="footer-slim" class="footer">
  <div class="container">

  <hr />

  <br />

  <div class="row">
    <div class="col-md-12 subfooter">
      <a href="https://www.nist.gov/" target="_blank"><img src="https://www.zamzar.com/download.php?uid=c06b88d543148de31da191a19a71afd8-3b4d5011b26fcccb&targetId=2W6cmbYLK6NkBimBUflzV8YPHTZYfCY6&fileID=nist_logo_sidestack_rev.png" alt="NIST" border="0" /></a>
      <p> National Institute of Standards and Technology <br /> 100 Bureau Drive; Gaitherburg, MD 20899 </p>
      <p> Operated by the Office of Data and Informatics, for the <br /> National Institute of Standards and Technology. </p>
    </div>

    <div class="col-md-12 subfooter">
      <a href="https://www.nist.gov/disclaimer" target="_blank">Privacy &amp; Legal Notice</a>
    </div>
  </div>
  </div>
</div>
